<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <title> CoinCast: Local Bitcoin classifieds for jobs, apartments, personals, for sale, services, community, and events</title>
    <link type="text/css" rel="stylesheet" media="all" href="/css/main.css" />
    <script type="text/javascript">
    window.onload = function(){
      var submitbutton = document.getElementById("query");
      if(submitbutton.addEventListener){
        submitbutton.addEventListener("click", function() {
          if (submitbutton.value == 'Search listings'){
            submitbutton.value = '';
          }
        });
      }
    }
    </script>
  </head>
  <body class="homepage">
    <div id="header">
      <form id="search" method="get" action="http://www.google.com">
        <input type="text" id="query" class="textinput" name="query" size="21" maxlength="120" value="Search listings"><input type="submit" value=" " class="button"> 
      </form>
      <div class = "clear"></div>
    </div>
    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author.nickname() }}</b> wrote:
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content }}</blockquote>
    {% endfor %}

    <form action="/sign?guestbook_name={{ guestbook_name }}" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>

    <hr>

    <form>Guestbook name:
      <input value="{{ guestbook_name }}" name="guestbook_name">
      <input type="submit" value="switch">
    </form>

    <a href="{{ url|safe }}">{{ url_linktext }}</a>

    <!--Beginning of javascript experimentation-->
    <p id="demo">
    Javascript can change the content of an HTML element.
    </p>

    <input id="num" type="text">

    <script src="/js/myScript.js"></script>

    <button type="button" onclick="myFunction()">Click Me!</button>
    <button type="button" onclick="scrubInput()">Validate number</button>

    <img id="myimage" onclick="changeImage()"
    src="/img/pic_bulboff.gif" width="100" height="180">

    <p>Click the light bulb to turn on/off the light</p>

    <!--End of javascript experimentation-->

  </body>
</html>
{% endautoescape %}
